PORT=3001
DB_HOST=127.0.0.1
DB_USER=decarrerita_user
DB_PASSWORD=decarrerita_pass
DB_NAME=decarrerita_db
JWT_SECRET=decarrerita_secreto_super_seguro_123

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_clave_de_app_16_letras
MAIL_FROM_NAME=DeCarrerita